<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sneaker Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/favourites">Favourites</a>
        <!-- <span>
          <button type="submit" id="favourites-btn">favourites</button>
        </span> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
  </div>

  <!-- <div class="right-buttons">
      <form id="login-form" action="/login" method="POST">
        <input type="text" id="username" name="email" placeholder="email" />
        <span>
          <button type="submit" class="login-btn">Login</button>
        </span>
      </form>
      <span id="logout-form"></span id="logout-form">
        <button type="submit" class="logout-btn">Logout</button>
      </span>
    </div> -->
</nav>
