<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/scripts/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <header id="displaylogin">
    <h1 class="text-lead">Let's Shop Sneakers</h1>
    <p>
      Have you elevated your sneaker game?
    </p>
  </header>

  <section id="login-section">
    <h1>Sign In</h1>

    <form class="login-form" action="/login" method="POST">
      <input type="text" id="username" name="email" placeholder="email" />
      <span>
        <button type="submit" class="btn-login">Login</button>
      </span>
    </form>
  </section>

  <!-- <body>
    <h3>Login</h3>
    <div class="right-buttons">
      <form id="login-form" action="/login" method="POST">
        <input type="text" id="username" name="email" placeholder="email" />
        <span>
          <button type="submit" id="login-btn">Login</button>
        </span>
      </form>
    </div>
  </body> -->
</html>
